<!DOCTYPE HTML>
<!--
    Theory by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title>INFOR</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="images/favicon.ico" rel="SHORTCUT ICON">
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <%- include('header'); %>
        <!-- Banner -->
        <section id="banner">
            <h1>INFOR</h1>
            <p class="chinese">
            台北市立建國高級中學
            <br> TAIPEI MUNICIPAL CHIEN KUO HIGH SCHOOL
            <br> 資訊社
            </p>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper style1 special">
            <div class="inner">
                <header>
                    <h2 class="chinese">社團宗旨</h2>
                    <p class="chinese">我們涉獵各式資訊領域也積極對外交流</p>
                </header>
                <div class="flex flex-3">
                    <div class="box spotlight">
                        <div class="image left">
                            <img src="images/class.jpg" alt="上課" />
                        </div>
                        <div class="content">
                            <div class="chinese">
                                <h3>學術交流</h3>
                                <p>
                                建中資訊社為本校最大的社團之一，因而聚集了各種領域的專才。
                                <br> 在專案小組或是研討會中，互相分享每個人的知識與想法，促使我們能製造出創新的成果。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="box spotlight">
                        <div class="image right">
                            <img src="images/activity.jpg" alt="活動" />
                        </div>
                        <div class="content">
                            <div class="chinese">
                                <h3>社團活動</h3>
                                <p>
                                建中資訊社與全台近百個社團結為友社，並主要與楓資及景資一起主辦活動。
                                <br> 除了常態的聯合社課以外，還有定期的暑訓、迎新、秋遊、寒訓和春遊等大型活動。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="box spotlight">
                        <div class="image left">
                            <img src="images/future.jpg" alt="未來期許" />
                        </div>
                        <div class="content">
                            <div class="chinese">
                                <h3>未來領航</h3>
                                <p>建中資訊社在全台灣至全世界佈下資訊科技的人才，我們不只侷限於僅僅一個高中的社團，更放眼至全世界最頂尖的資訊社群。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- One -->
        <section id="one" class="wrapper">
            <div class="inner">
                <div class="flex flex-3">
                    <article>
                        <header>
                            <h3>Algorithm / Data Structure><br> - using C/C++</h3>
                        </header>
                        <p>時間：（敬請期待）</p>
                        <footer>
                            <a id="algorithm" class="button special">More</a>
                        </footer>
                    </article>
                    <article>
                        <header>
                            <h3>Web Design <br> - HTML/CSS/JS + Node.JS</h3>
                        </header>
                        <p>時間：（敬請期待）</p>
                        <footer>
                            <a id="webdesign" class="button special">More</a>
                        </footer>
                    </article>
                    <article>
                        <header>
                            <h3>Python <br/> - Machine Learning</h3>
                        </header>
                        <p>時間：（敬請期待）</p>
                        <footer>
                            <a id="python" class="button special">More</a>
                        </footer>
                    </article>
                </div>
                <div class="flex flex-3">
                    <article>
                        <header>
                            <h3>Java <br> - App Design</h3>
                        </header>
                        <p>時間：（敬請期待）</p>
                        <footer>
                            <a id="java" class="button special">More</a>
                        </footer>
                    </article>
                    <article>
                        <header>
                            <h3>其他小專題 <br> - 資訊安全、計算機概論... </h3>
                        </header>
                        <p>時間：（敬請期待）</p>
                        <footer>
                            <a id="others" class="button special">More</a>
                        </footer>
                    </article>
                    <article>
                        <header>
                            <h3> 四校聯課 <br>（建中／中山／景美／成功）</h3>
                        </header>
                        <p>時間：（敬請期待）</p>
                        <footer>
                            <a id="four" class="button special disabled">Looking Forward</a>
                        </footer>
                    </article>

                </div>
            </div>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper special style2">
            <div class="inner chinese">
                <header class="align-center">
                    <h2>各式活動</h2>
                    <p>別以為資訊社都是整天宅在家的，我們也會舉辦各種活動</p>
                </header>
                <div class="flex flex-2">
                    <article>
                        <div class="image fit">
                            <img src="images/pic01.jpg" alt="暑訓封面" />
                        </div>
                        <header>
                            <h3>暑訓—成楓望建了美景</h3>
                        </header>
                        <p>由建國中學資訊社、成功高中電子計算機研習社、中山女高資訊研究社、景美女中電腦資訊社這幾個充滿熱忱的高中社團聯合舉辦。暑訓將以實作課程為主，加上企業參訪、有趣的活動，號召有興趣的國中在學/畢業生一同探索資訊的世界。透過我們的營隊，同學將能更進一步了解什麼是資訊科技，培養進一步的資訊能力。</p>
                        <footer>
                            <a href="https://四校電資.camp/" class="button special">點我查看</a>
                        </footer>
                    </article>
                    <article>
                        <div class="image fit">
                            <img src="images/pic02.jpg" alt="Pic 02" />
                        </div>
                        <header>
                            <h3>迎新—十校聯合迎新</h3>
                        </header>
                        <p>今在充滿迷惘的高一新生生活<br>去探索更多青春的美好吧<br>巧遇更多的友情<br>尋找更多的巧遇</p>
                        <footer>
                            <a class="button special disabled">敬請期待</a>
                        </footer>
                    </article>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="flex">
                    <div class="copyright">
                        &copy; INFOR 30th. Design: <a href="https://templated.co">TEMPLATED</a>.
                    </div>
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/infor30th/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="mailto:30@infor.org" class="icon fa-envelope"><span class="label">Vimeo</span></a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <link rel="stylesheet" href="css/sweetalert2.min.css" />
        <!-- Scripts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/jquery.scrollex.min.js"></script>
        <script src="js/sweetalert2.min.js"></script>
        <script src="js/util.js"></script>
        <script src="js/main.js"></script>
        
        <% if(typeof Course != "undefined"){ %>
        <script>
        (function($) {
            <% Course.forEach(function(val, index, arr){ %>
                    $("#<%= val.id %>").click(function() {
                        swal({
                            title: '<%= val.title %>',
                            text: '<%= val.text %>',
                            imageUrl: 'images/<%= val.img %>'
                        }).catch(swal.noop);
                    });
                <% }); %>
        })(jQuery);
        </script>
        <% } %>
    </body>

</html>
